
/* HTML Elements */



.outfit-<uniquifier> {
  font-family: "Outfit", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

html{
  font-family: "Outfit", system-ui;
}

h1 {
  @apply font-semibold font-sans-serif text-4xl
}


/* CSS components */
.container {
  @apply mx-auto px-3 max-w-7xl
}

button:disabled {
  @apply cursor-not-allowed opacity-50 pointer-events-none;
}

.btn-primary {
  @apply bg-indigo-500 text-white p-4 rounded-lg font-semibold;
}
.btn-primary-outline {
  @apply border border-indigo-500 text-indigo-500 p-4 rounded-lg font-semibold;
}

.avatar {
  @apply rounded-full object-cover;
}

.post-media {
  @apply w-full object-cover rounded-lg overflow-hidden;
}

.z-100 {
   z-index: 100;
}

/* Logical components */